			
				body {
					background-color: #585858;
					background-image: url("Images/chop_Sticks.jpg");
					font-family: Arial, Sans-serif;
					color: black;
				}
				
				#navbar{
				background-color: #A8A8A8;
				}
				
				#container {
				width: 1500px;
				padding: 2em;
				float:center;
				color: black;
				border-left: 1px solid;
				border-right: 2px solid;
				background-color: #F8F8F8;
				margin-left: auto;
				margin-right: auto;
				border: thick black;
				font-family: Times New Roman, sans-serif;
				font-size: 1.0em;
				}
				
		
		aside { 
		width: 100px;
		padding: 10px;
		color: white;
		float: left;
		margin-top:auto;
		}
		
		
			table
			{
				background-color: #F8F8F8;
			}